.cuisines{
    display:flex ;
    justify-content: center ;
    align-items: center;
    flex-wrap:wrap ;
    gap:20px ;
    padding: 20px;
}
body{
    background-color: aquamarine;
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}